/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body {
    width: 512px;
}

header {
    font-size: large;
    padding: 10px;
    border: 2px solid black;
    margin-bottom: 10px;
}

h2 {
    padding: 15px;
}

p {
    padding: 10px;
}

/*utils*/
.card {
    height: 200px;
    width: 350px;
    border: 2px solid black;
    margin: 70px;
}